<div *ngIf="loading" class="loading">
  Loading dictionary...
</div>

<div *ngIf="loadError" class="error">
  Error loading dictionary, sorry.
</div>

<div *ngIf="loaded" class="input">
  <label>Must use: <input type="text" [formControl]="searchInput"/></label><br/>
  <label>May use: <input type="text" [formControl]="additionalInput"/> (blank=any)</label><br/>
</div>

<div *ngIf="showSearchResults" class="results">
  <h2 class="resultheader">Words containing {{ searchLetters }}<span *ngIf="additionalLetters.length > 0">, using optional letters {{ additionalLetters }}</span>:</h2>

  <div *ngIf="columns.length > 0" class="results">
    <ul *ngFor="let c of columns" class="resultscolumn">
      <li *ngFor="let w of searchResults.words | slice:c.start:c.end" class="word"><span class="word">{{ w }}</span></li>
    </ul>
  </div>

  <div *ngIf="searchResults.words.length == 0" class="noresults">
    No words found.
  </div>

  <div *ngIf="searchResults.words.length > 0" class="resultstats">
    <p>{{ searchResults.words.length }} words found, {{ numWordsToShow }} displayed.</p>
    <p>
      <span *ngIf="moreAvailable > 0">Show more words: </span>
      <span *ngIf="moreAvailable >= 20" class="more"><a (click)="moreWords(20)" href="#">20</a></span>
      <span *ngIf="moreAvailable >= 100" class="more"><a (click)="moreWords(100)" href="#">100</a></span>
      <span *ngIf="moreAvailable >= 500" class="more"><a (click)="moreWords(500)" href="#">500</a></span>
      <span *ngIf="moreAvailable > 0" class="more"><a (click)="moreWords(-1)" href="#">all</a> </span>
  </div>
  <p class="searchtime">
    Search took {{ searchResults.time | number }} milliseconds.
  </p>
</div>
